@using Microsoft.AspNetCore.Identity
@using WebCar.Areas.Identity.Data

@inject SignInManager<WebCarUser> SignInManager
@inject UserManager<WebCarUser> UserManager

@{
	ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
	<p>Пользователь ВОШЕЛ в аккаунт, страница описания продукта</p>
}
else
{
	<p>Пользователь НЕ ВОШЕЛ в аккаунт, страница описания продукта</p>
}
