@using Microsoft.AspNetCore.Identity
@using WebCar.Areas.Identity.Data

@inject SignInManager<WebCarUser> SignInManager
@inject UserManager<WebCarUser> UserManager

@{
	ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
	<p>Пользователь вошел в аккаунт</p>
}
else
{
	<p>Пользователь не вошел в аккаунт - отображается страница описания</p>
}
